<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${pagina.titulo} + ' - Wiki'">Wiki Page</title>
</head>

<body>

    <div th:replace="~{layouts/main :: main_layout(~{::content})}">
        <div th:fragment="content">
            <h2 th:text="${pagina.titulo}" class="wiki-page-title">
                Titulo</h2>

            <div class="wiki-content wiki-content-box">
                <p th:text="${pagina.contenido}">Contenido de la página...</p>
            </div>

            <div class="back-btn-container">
                <a th:href="@{/}" class="btn back-btn">&larr; Volver al
                    Inicio</a>
            </div>
        </div>
    </div>

</body>

</html>